.card {
  background-color: $bg-dark;
  border: 0.075em solid $border-light;
  border-collapse: collapse;
  
  width: 18em;
  min-height: 5em;
  
  &__header {
    background: linear-gradient(90deg, $gradient-a-start, $gradient-a-end);

    font-weight: 700;
    font-size: 1.2em;
    
    padding: $default-padding $default-padding;
  }
  
  &__content {
    color: $font-light;
    font-weight: 500;
    padding: 0.4em;
    display: flex;
    flex-direction: column;
  }
  
  &__text {
    
  }
  
  &__image {
    text-align: center;
    padding: 0;

    img {
      width: 100%;
    }
  }
}